.dashbord {
  margin: 0 30px 0 120px;
}

.container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.dashboard-aside {
  display: flex;
  flex-direction: column;
  float: right;
}
