.dashbord {
  width: 75%;
  margin: auto;
}

.container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.dashboard-aside {
  display: flex;
  flex-direction: column;
  float: right;
}
